{{#if results }}
<div class="results">
  {{#each results }}
    <a class="result-image" href="/preview/{{ gfyId }}{{#if ../inReplyTo}}?in-reply-to={{ ../inReplyToQuery }}{{/if}}">
      <img src="{{ content_urls.max1mbGif.url }}" alt="{{ title }}" />
    </a>
  {{/each }}
</div>
{{/if }}