
<form action="search">
  {{#if inReplyTo}}
  <input type="hidden" name="in-reply-to" value="{{ inReplyTo }}" />
  {{ else }}
  <details style="font-size: small; margin: 0 0 2em 0;">
    <summary>Is this a reply?</summary>
    <label for="in-reply-to">Reply To (a URL you are replying to)</label>
    <input type="text" name="in-reply-to">
  </details>
  {{/if}}
  <input type="text" name="q" value="{{ q }}" placeholder="LOL, IDK, WTF, ..."/>
  <input type="submit" value="Search for GIFs" />
</form>