<!DOCTYPE html>
<html>
  <head>
    <title>Kapowski</title>
    <meta name="description" content="GIFs for your personal website. Powered by GIPHY">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/6a35b354-a8d4-4b99-a00b-50f3d0f856f2%2Fkapowski.ico?1525641519013" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header class="h-x-app">
      <h1 class="header-combo">
        <img class="u-logo p-name" alt="Kapowski" src="https://cdn.glitch.com/6a35b354-a8d4-4b99-a00b-50f3d0f856f2%2Fkapowski-logo-animated.svg?1525706094589"/>
        <span class="title">Kapowski</span>
        <img class="glitch-bit" src="https://cdn.glitch.com/6a35b354-a8d4-4b99-a00b-50f3d0f856f2%2FPoweredBy_200px-Black_HorizText.png?1525712602360" alt="Powered by GIPHY" />
      </h1>
    </header>
    {{> sign-in-status }}
    <main>
      {{{body}}}
    </main>

    <footer>
      <p>
        Logo based on explosion by Louis Hesse from the Noun Project
      </p>
      <a href="https://glitch.com/edit/#!/garrulous-smile">
        Remix this in Glitch
      </a>
    </footer>
  </body>
</html>
